<%= form_with(model: url) do |form| %>
  <% if url.errors.any? %>
    <div id="error_explanation">
      <h2 class="error"><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
        <% url.errors.each do |error| %>
          <li class="error"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field w-50">
    <%= form.label :long_url, "Long Url: ", class: "form-label" %>
    <%= form.text_field :long_url, class: "brown lighten-2 form-control", placeholder: "Enter Your Url Here To Shorten It" %>
    <%= form.submit "Shorten Url", type: 'submit', class: "btn waves-effect waves-light" %>
  </div>

<% end %>
